<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 align-left"  class="task">
			<div class="row">
				<h3>Burgers:</h3>
				<br>
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<br>
				<div class="col-md-3 text-center notDevoured">
					<form data-id={{this.id}} class="devour-form button-size">
						<input type="hidden" class="burger_id" type="text"><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-4"></div>
	
		<div class="col-md-4 align-right" class="task">
			  <h3>Devoured:</h3>
			  <br>	
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
<br>
<br>
<!--Create form here
hint 1: This form will go insider a container and a row
hint 2:  <form action="/burgers/create" method="POST">-->
<div class="container">
	<div class = "row">
		<div class="col-md-5"></div>
			<div id="form">
				<form action="/api/burgers" method="POST" class="create-form">
				<div class="form-group">
					<label for="bu">Add Burger (Name):</label>
				</div>
			<div>
			<textarea type="text" id="name" name="bu"></textarea>
			<button type="submit">Submit</button>
		</div>
	</form>
</div>
</div>
</div>
</div>
